<h3>Add new Cloth</h3>

<form {{action 'submit' on='submit'}}>
    <div class="form-group {{if errors.name 'has-error'}}">
       <label for=""> Name</label>
       {{input class="form-control" value=cloth.name }}
       {{#each errors.name as |error|}}
          <span class="help-block">{{error.message}}</span>
       {{/each}}
    </div>
    <div class="form-group">
       <label for=""> Size</label>
       {{input class="form-control" value=cloth.size }}
    </div>
    <div class="form-group">
       <label for=""> Price</label>
       {{input class="form-control" value=cloth.price }}
    </div>
    <div class="form-group">
       <label for=""> Product Image</label>
       {{input class="form-control" value=cloth.image }}
    </div>
    <button class="btn btn-primary" type="submit">{{buttonLabel}}</button>
</form>

